<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carpool.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.carpool.entity.Message" >
    <id column="m_id" property="mId" jdbcType="BIGINT" />
    <result column="g_id" property="gId" jdbcType="BIGINT" />
    <result column="u_id" property="uId" jdbcType="BIGINT" />
    <result column="m_content" property="mContent" jdbcType="VARCHAR" />
    <result column="m_time" property="mTime" jdbcType="TIMESTAMP" />
    <result column="m_type" property="mType" jdbcType="VARCHAR" />
    <result column="m_state" property="mState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    m_id, g_id, u_id, m_content, m_time, m_type, m_state
  </sql>
  <select id="selectListByGIdAndUId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_message
    where g_id=#{gId,jdbcType=BIGINT} and u_id=#{uId,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_message
    where m_id = #{mId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_message
    where m_id = #{mId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.carpool.entity.Message" >
    insert into t_message (m_id, g_id, u_id, m_content, 
      m_time, m_type, m_state
      )
    values (#{mId,jdbcType=BIGINT}, #{gId,jdbcType=BIGINT}, #{uId,jdbcType=BIGINT}, #{mContent,jdbcType=VARCHAR}, 
      #{mTime,jdbcType=TIMESTAMP}, #{mType,jdbcType=VARCHAR}, #{mState,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.carpool.entity.Message" >
    insert into t_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mId != null" >
        m_id,
      </if>
      <if test="gId != null" >
        g_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="mContent != null" >
        m_content,
      </if>
      <if test="mTime != null" >
        m_time,
      </if>
      <if test="mType != null" >
        m_type,
      </if>
      <if test="mState != null" >
        m_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mId != null" >
        #{mId,jdbcType=BIGINT},
      </if>
      <if test="gId != null" >
        #{gId,jdbcType=BIGINT},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="mContent != null" >
        #{mContent,jdbcType=VARCHAR},
      </if>
      <if test="mTime != null" >
        #{mTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mType != null" >
        #{mType,jdbcType=VARCHAR},
      </if>
      <if test="mState != null" >
        #{mState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.carpool.entity.Message" >
    update t_message
    <set >
      <if test="gId != null" >
        g_id = #{gId,jdbcType=BIGINT},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="mContent != null" >
        m_content = #{mContent,jdbcType=VARCHAR},
      </if>
      <if test="mTime != null" >
        m_time = #{mTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mType != null" >
        m_type = #{mType,jdbcType=VARCHAR},
      </if>
      <if test="mState != null" >
        m_state = #{mState,jdbcType=INTEGER},
      </if>
    </set>
    where m_id = #{mId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.carpool.entity.Message" >
    update t_message
    set g_id = #{gId,jdbcType=BIGINT},
      u_id = #{uId,jdbcType=BIGINT},
      m_content = #{mContent,jdbcType=VARCHAR},
      m_time = #{mTime,jdbcType=TIMESTAMP},
      m_type = #{mType,jdbcType=VARCHAR},
      m_state = #{mState,jdbcType=INTEGER}
    where m_id = #{mId,jdbcType=BIGINT}
  </update>
</mapper>